body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* change font-family here */
  font-family: "Libre Baskerville", serif, "Montserrat", sans-serif;
  /* background: #fff;
  overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body.light {
  background-color: #e9e9e9;
  color: #192a3e;
}

body.dark {
  background-color: #192a3e;
  color: #e9e9e9;
}
